.flex{
	display: flex;
	gap: 0.5rem;
}

.box{
	aspect-ratio: 1/1;
	width: 100px;
	border:1px solid black;
	background: #eee;
	
}

.box:first-child{
	margin-right: auto;
}

.box:last-child{
	margin-left: auto;
}